body {
	margin: 0;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
		"Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
		sans-serif;
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
		monospace;
}

@font-face {
	font-family: "Kanit";
	src: local("kanit"), url(./Assets/Kanit.ttf) format("truetype");
}

@font-face {
	font-family: "stella";
	src: local("stella"), url(./Assets/stella.ttf) format("truetype");
}

@font-face {
	font-family: "big";
	src: local("big"), url(./Assets/big.ttf) format("truetype");
}

@font-face {
	font-family: "hind";
	src: local("hind"), url(./Assets/hind.ttf) format("truetype");
}
